<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1052204304037-k0g4cm3lsoo8cukuiqi6c3lhe502hmbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052204304037-k0g4cm3lsoo8cukuiqi6c3lhe502hmbv</string>
	<key>API_KEY</key>
	<string>AIzaSyCcBuDic6GIVUy1F1_W8Vuo68iEUV3HeQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1052204304037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tevinmantock.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-e6528</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-e6528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052204304037:ios:9fb4fd8fa79293eb</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-e6528.firebaseio.com</string>
</dict>
</plist>